{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ image.title }}{% endblock %}
{% block content %}
    {% include 'includes/messages.html' %}
    <h1>{{ image.title }}</h1>
    <a href="{{ image.image.url }}">
        <img src="{% thumbnail image.image 300x0 %}" class="image-detail" alt="">
    </a>
    {% with total_likes=image.users_like.count user_likes=image.users_like.all %}
        <div class="image-info">
            <div>
                <span class="count">
                    <span class="total">{{ total_likes }}</span>
                     like{{ total_likes|pluralize }}
                </span>
                <a href="#" data-id="{{ image.id }}" data-action="
                                {% if request.user in user_likes %}un{% endif %}like"
                   class="like button">
                    {% if request.user not in user_likes %}
                        Like
                    {% else %}
                        Unlike
                    {% endif %}
                </a>
            </div>
            {{ image.description|linebreaks }}
        </div>
        <div class="image-likes">
            {% for user in user_likes %}
                <div>
                    {% if user.profile.photo %}
                        <img src="{{ user.profile.photo.url }}" alt="">
                    {% endif %}
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                Nobody likes this image yet.
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('a.like').click(function (e) {
                e.preventDefault();
                $.post('{% url "images:like" %}',
                    {
                        id: $(this).data('id'),
                        action: $(this).data('action')
                    },
                    function (data) {
                        if (data['status'] === 'ok') {
                            var aLike = $('a.like');
                            var previous_action = aLike.data('action');
                            aLike.data('action', previous_action === 'like' ? 'unlike' : 'like');
                            aLike.text(previous_action === 'like' ? 'Unlike' : 'Like');
                            var spTotalCount = $('span.count .total')
                            var previous_likes = parseInt(spTotalCount.text());
                            spTotalCount.text(
                                previous_action === 'like' ? previous_likes + 1 : previous_likes - 1);
                        }
                    }
                )
            })
        })
    </script>
{% endblock %}